@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-tip {
    @apply w-36 h-12 bg-Very-dark-cyan text-white rounded-md text-2xl cursor-pointer hover:bg-Light-grayish-cyan hover:text-Very-dark-cyan hover:ease-in-out active:bg-Very-dark-cyan  lg:w-28;
}
.input-style {
    @apply bg-Very-light-grayish-cyan h-12 px-4 rounded-md text-2xl text-Very-dark-cyan text-right outline-none focus:border-2 focus:border-Strong-cyan;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none !important;
}

input[type=number] { 
   -moz-appearance: textfield !important;
   appearance: textfield !important;
}

.selected {
    background-color: hsl(172, 67%, 45%);
}
.resetBtn {
    background-color: hsla(183, 100%, 15%, 0.726);
}

button:disabled {
    background-color: hsl(183, 90%, 23%);
}