@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: var(--Light-Grayish-Blue);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 87%;
    height: 500px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 'banner banner' 'info_container info_container';
    
}
.banner {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0px;
    background-image: url(images/drawers.jpg);
    background-size: cover;
    grid-area: banner;
}
.info_container {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    grid-area: info_container;
    text-align: start;
    padding: 30px;
}
 
.info_container h1 {
    font-size: 1rem;
    color: var(--Very-Dark-Grayish-Blue);
}

.description {
    margin-top: 15px;
    font-size: 0.85rem;
    color: var(--Very-Dark-Grayish-Blue);
    line-height: 1.22rem;
}
.perfil_share_wrapper {
    width: 70%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    position: relative;
    top: 0px;
    left: 0px;
}
.profile {
    display: flex;
}
.photo_perfil {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-top: 30px;
}
.info_perfil {
    width: 120px;
    margin-left: 15px;
}
.nome_perfil {
    position: relative;
    top: 35px;
    font-weight: 700;
    font-size: 0.8em;
    color: var(--Very-Dark-Grayish-Blue);
}
.date {
    position: relative;
    top: 38px;
    font-weight: 400;
    font-size: 0.74rem;
    color: var(--Desaturated-Dark-Blue);
}
.button_wrapper {
    width: 100%;
}
.button_share {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    position: relative;
    top: 40px;
    left: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--Light-Grayish-Blue);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_share:hover {
    background-color: var(--Desaturated-Dark-Blue);
}
.icon_share {
    width: 15px;
    border-radius: 100%;
}
.icon_share * {
    pointer-events: none;
  }
.button_share:hover path{
    fill: white;
}
.button_share:active {
    transform: scale(0.98);
}

.card_share {
    visibility: hidden;
    width: 100%;
    height: 270%;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    gap: 18px;
    align-items: center;
    position: relative;
    top: -65px;
    border-radius: 0 0 10px 10px;
    background-color: var(--Very-Dark-Grayish-Blue);
    z-index: 1;
    transition: 0.3s;
}
.active.card_share {
    visibility: visible;
}
.wrapper {
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card_share_p {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--Grayish-Blue);
    letter-spacing: 0.3rem;
    margin-bottom: 3px;
    margin-left: 30px;
}
.facebook:hover path{
    fill: #1877f2;
}
.twitter:hover path{
    fill: #1d9bf0;
}
.pinterest:hover path{
    fill: #e60023;
}
footer {
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%);
    position: relative;
    top: 70px;
}
@media (min-width: 380px) {
    .perfil_share_wrapper {
        width: 80%;
        margin-top: 20px;
    }
}
@media (min-width: 480px) {
    .perfil_share_wrapper {
        width: 80%;
        margin-top: 55px;
    }
}
@media (min-width: 768px) {
    .card {
        width: 80%;
        height: 700px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 'banner banner' 'info_container info_container';
    }
    .banner {
        width: 100%;
        height: 150%;
    }
    .info_container h1 {
        font-size: 1.5rem;
        color: var(--Very-Dark-Grayish-Blue);
    }
    
    .description {
        margin-top: 30px;
        font-size: 1rem;
        color: var(--Very-Dark-Grayish-Blue);
        line-height: 1.22rem;
    }
    .perfil_share_wrapper {
        width: 80%;
        margin-top: 20px;
    }
    .card_share {
        visibility: hidden;
        width: 100%;
        height: 350%;
        justify-content: space-around;
        gap: 0;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 710px;
        height: 278px;
        display: grid;
        grid-template-columns: 38% 62%;
        grid-template-areas: 'banner info_container' 'banner info_container';
    }
    .banner {
        width: 100%;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }
    .info_container {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 0px 10px 10px 0px;
        padding-left: 38px;
    }
    .info_container h1 {
        font-size: 1.25rem;
        margin-right: 30px;
        color: var(--Very-Dark-Grayish-Blue);
    }
    .description {
        margin-top: 20px;
        margin-right: 20px;
        font-size: 0.8rem;
        color: var(--Very-Dark-Grayish-Blue);
    }
    .perfil_share_wrapper {
        width: 88%;
        margin-top: 0px;
    
    }
    .share_before {
        content: "";
        width: 25px;
        height: 25px;
        background-color: var(--Very-Dark-Grayish-Blue);
        position: relative;
        top: 26px;
        left: 80px;
        transform: rotate(45deg);
    } 
    .card_share {
        width: 210px;
        height: 52px;
        padding: 5px;
        align-items: center;
        position: relative;
        top: -120px;
        left: 540px;
        border-radius: 10px;
        background-color: var(--Very-Dark-Grayish-Blue);
        z-index: 1; 
        visibility: hidden;
    }
    .active.card_share {
        visibility: visible;
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .card_share_p {
        font-weight: 500;
        font-size: 0.7rem;
        color: var(--Grayish-Blue);
        letter-spacing: 0.18rem;
        margin-bottom: 3px;
        margin-left: -25px;
    }
}


