@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap');

:root {
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 98%, 64%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-size: 1.2rem;
    margin-top: 70px;
    color: var(--Very-Dark-Blue);
}
header h1 span {
    color: var(--Blue);
}

header h2 {
    font-weight: 300;
    color: var(--Gray);
    margin-top: 40px;
}
header h2 strong {
    color: var(--Very-Dark-Blue);
}

header h6 {
    font-weight: 400;
    font-size: 0.82rem;
    margin-top: 20px;
}

main {
    margin-top: 40px;
    width: 100%;
    height: 450px;
}
.interaction_container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.interaction {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.interaction input, #button_submit_email{
    width: 300px;
    height: 45px;
    border-radius: 25px;
    
}
.interaction input {
    outline: none;
    padding: 0 20px;
}
.input_email {
    display: block;
    border: 1px solid var(--Pale-Blue);
}

#button_submit_email {
    border: none;
    background-color: var(--Blue);
    color: white;
    font-size: 0.9rem;
}
#button_submit_email:hover {
    background-color: hsl(223, 100%, 74%);
    cursor: pointer;
}
#button_submit_email:active {
    transform: scale(0.99);
}

.section_dashboard {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 300px;
    height: 190px;
}

footer {
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 60px;
}
.copy_right {
    font-size: small;
    color: var(--Gray);
    margin-top: 30px;
}

.attribution {
    margin-top: 15px;
}
.share_container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container {
    font-size: 19px;
    color: var(--Blue);
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--Pale-Blue);
}

.container:hover {
    background-color: var(--Blue);
    color: white;
    transform: translate(0px, -3px);
    transition: transform 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.61);
    cursor: pointer;
}
a {
    text-decoration: none;
}

/* JS interaction */
.email_error {
    visibility: hidden;
    font-size: 0.65rem;
    font-weight: 500;
    color: var(--Light-Red);
    position: relative;
    top: -88px;
    left: 0px;
}
.email_success {
    visibility: hidden;
    font-size: 0.65rem;
    font-weight: 500;
    color: rgb(4, 153, 4);
    position: relative;
    top: -100px;
    left: -5px;
}
.check_icon {
    font-size: 0.8rem;
    margin-left: 10px;
    position: relative;
    top: -14px;
    left: 145px;
}


/* Different screens*/
/* Tabblets*/
@media (min-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }
    header h2 {
        font-size: 1.8rem;
    }
    header h6 {
        font-size: 1rem;
        margin-top: 25px;
    }
    .interaction input, #button_submit_email{
        width: 320px;
        height: 45px;   
    }
    .section_dashboard {
        width: 100%;
        height: 80%;
    }
    .dashboard {
        width: 500px;
        height: 320px;
    }
    footer {
        text-align: center;
        width: 100%;
        height: 100px;
        margin-top: 150px;
    }
    .attribution {
        margin-top: 40px;
    }
}

/* Laptops and up */
@media (min-width: 1020px) {
    header h1 {
        font-size: 1.8rem;
    }
    header h2 {
        font-weight: 300;
        font-size: 2.6rem;
    }
    header h6 {
        font-size: 1.06rem;
        margin-top: 25px;
    }
    main {
        margin-top: 0px;
    }
    .interaction {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .interaction input {
        width: 325px;
        height: 45px; 
        margin-left: 15px;  
    }
    #button_submit_email {
        width: 190px;
        height: 45px;
    }
    .section_dashboard {
        width: 100%;
        height: 80%;
    }
    .dashboard {
        width: 500px;
        height: 320px;
    }
    footer {
        text-align: center;
        width: 100%;
        height: 100px;
        margin-top: 150px;
    }
    .attribution {
        margin-top: 40px;
    }
    .email_error {
        position: relative;
        top: -40px;
        left: -130px;
    }
    .email_success {
        position: relative;
        top: -52px;
        left: -140px;
    }
}