
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
    background-color: hsl(12, 100%, 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

main {
    width: 90%;
    height: 80%;
}
.myBalance_container {
    width: 100%;
    height: 100px;
    background-color: var(--Soft-red);
    border-radius: 11px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30%;

}
.balance_wrapped {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.balance_wrapped h5 {
    font-weight: 200;
    font-size: 1rem;
}
.balance_wrapped h3 {
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 7px;
}
.chart_container {
    width: 100%;
    height: 90%;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}
.chart_container h1 {
    text-align: start;
    font-weight: 700;
    margin-bottom: 40px;
}
.chart_container ul {
    list-style: none;
    width: 100%;
    height: 65%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid var(--Medium-brown);
}
.chart {
    margin-bottom: 40px;
    width: 10%;
}
.bar_wrapped {
    width: 70%;
    text-align: center;
}

.chart_revenue_days {
    width: 2.9rem;
    height: 29px;
    background-color: black;
    border-radius: 5px;
    position: relative;
    top: -10px;
    left: -8.5px;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    padding-top: 12%;
    display: none;
}
.chart p {
    color: var(--Medium-brown);
    font-size: 0.8rem;
    font-weight: 300;
}
.chart_bar {
    width: 30px;
    background-color: var(--Soft-red);
    border-radius: 4px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.chart_bar:hover {
    background-color: hsl(10, 95%, 77%);
}
.revenue_container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.revenue_thisMonth p {
    color: var(--Medium-brown);
    font-size: 1.02rem;
}
.revenue_thisMonth h2 {
    margin-top: 10px;
    font-size: 2rem;
}
.revenue_lastMonth {
    text-align: right;
}
.revenue_lastMonth p {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}
.revenue_lastMonth span {
    color: var(--Medium-brown);
    font-size: 1.02rem;
}

footer {
    font-size: 11px; text-align: center; 
    position: relative;
    top: 8%;
}


/* Responsive screens */
@media (max-height: 450px) {
    .chart_container {
        min-height: 200%;
    }
    footer {
        top: 110%;
    }
}
@media (max-width: 400px) {
    .chart_container ul {
        height: 55%;
    }
    footer {
        top: 12%;
    }
}
@media (min-width: 720px) {
    main {
        width: 75%;
        height: 70%;
    }
    .myBalance_container {
        gap: 50%;
    }
    .revenue_container {
        margin-top: 70px;
    }
}

@media (min-width: 1000px) {
    main {
        width: 45%;
        height: 95%;
    }
    .myBalance_container {
        gap: 50%;
    }
    .chart_container ul {
        list-style: none;
        width: 101%;
        height: 60%;
    }
    .revenue_container {
        margin-top: 35px;
    }
    .chart_bar {
        width: 44px;
    }
    .chart_container h1 {
        font-size: 1.7rem;
        margin-left: 12px;
    }
    .chart p {
        color: var(--Medium-brown);
        font-size: 0.85rem;
        font-weight: 300;
    }
    .chart_revenue_days {
        width: 3.7rem;
        height: 35px;
        font-size: 0.9rem;
        font-weight: bold;
    }
    .revenue_thisMonth h2 {
        margin-top: 10px;
        font-size: 2.6rem;
    }
    footer {
        top: 12%;
    }
}